apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "xo-pangolin.fullname" . }}-config
stringData:
  config.yml: |
    {{- $file := required "files/config.yml missing" (.Files.Get "files/config.yml") -}}
    {{- tpl $file . | nindent 4 }}
  traefik_config.yml: |
    {{- $file := required "files/traefik_config.yml missing" (.Files.Get "files/traefik_config.yml") -}}
    {{- tpl $file . | nindent 4 }}
  dynamic_config.yml: |
    {{- $file := required "files/dynamic_config.yml missing" (.Files.Get "files/dynamic_config.yml") -}}
    {{- tpl $file . | nindent 4 }}
